body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  margin: 60px;
  background: whitesmoke;
}

form {
  display: block;
  padding-bottom: 20px;
}

#location-button {
  margin-top: 10px;
  color: white;
  background: #0f3460;
  border: solid 1pt black;
  border-radius: 10px;
}

#current-location-btn {
  position: relative;
  color: #0f3460;
  background: white;
  top: -48px;
  left: 130px;
  border: solid 1pt black;
  border-radius: 10px;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  padding-bottom: 10px;
  line-height: 15px;
  color: #16213e;
  font-size: 40px;
  font-weight: 900;
}

h2 {
  padding: 0;
  position: relative;
  top: -280px;
  left: 225px;
  font-family: "Fjalla One", sans-serif;
  color: #16213e;
  font-size: 40px;
  font-weight: bold;
}

#far-temp {
  font-size: 20px;
  color: 16213e;
}

.pipe {
  font-size: 20px;
}

#cels-temp {
  font-size: 20px;
  color: #16213e;
  position: relative;
  left: -5px;
}

.main-container {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 570px;
  padding: 30px;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  border-radius: 10%;
}

.subheader {
  display: block;
  padding-top: 0;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: #393b44;
  font-weight: lighter;
  font-style: italic;
}

#description {
  display: block;
  padding-top: 0;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: #393b44;
  font-weight: bold;
  font-style: italic;
}

.details {
  list-style: none;
  display: inline;
  position: relative;
  top: -300px;
  left: 225px;
  font-size: 14px;
  color: #393b44;
  margin: auto;
  font-weight: bold;
}

#icon {
  display: inline;
  position: relative;
  top: -150px;
  left: 400px;
  padding: 35px 20px;
}
.five-day {
  font-family: "Fjalla One", sans-serif;
  color: #16213e;
  font-size: 40px;
  font-weight: 900;
  position: relative;
  top: -250px;
  left: 150px;
}
.container {
  display: block;
  background: aliceblue;
  width: px;
  height: 115px;
  padding-top: 5px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: -210px;
  text-align: center;
}

.col-2 {
  display: block;
  padding: 10px;
  margin-left: 15px;
}

.forecast-time {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.temp {
  font-size: 14px;
  color: #52575d;
  font-weight: lighter;
}

.footer {
  display: block;
  max-width: 2000px;
  padding-left: 300px;
  padding-right: 300px;
}

#signature {
  display: block;
  position: relative;
  font-family: monospace;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 10px;
}
